# Built distribution files need not be tracked by git.
dist/

# Visual Studio Code files are different for different people.
.vscode/


# This contains API keys and the like, the user should provide their own.
secrets.yaml
