# These are configurable parameters for running Exarata. This file should
# not be edited by the user unless copied, it acts as a template and defaults.
# You should pass your own configuration.yaml file when running this software.


# These is the directory which can be used to store temporary files when using
# this program. This directory should not be used by or relied on by other 
# programs. If required to be unique, if the directory already exists during
# creation, the program will halt.
TEMPORARY_DIRECTORY : ".exarata_temp"
TEMPORARY_DIRECTORY_REQUIRE_UNIQUE : False


# With regards to the Minor Planet Center, this is the observatory code of
# the observation. A three digit alpha-numeric code. A list of these codes from
# the MPC: https://www.minorplanetcenter.net/iau/lists/ObsCodesF.html
# This parameter should be a string as some enteries have letters.
MPC_OBSERVATORY_CODE : "568"

############################################################
##########     Opihi Manual GUI Configuration
############################################################

# If True, then whenever an observation has been completed, if it has a 
# valid photometric solution, then the measurement is added to the database 
# as specified.
GUI_MANUAL_DATABASE_SAVE_OBSERVATIONS : True

# The rate at which the database should be instructed to clean up its files 
# is provided by the percentage rate given. 
# This value should be between 0 and 1.
GUI_MANUAL_DATABASE_CLEAN_FILE_RATE : 0.25

# This is the full binary path for the t3io program command. It must be 
# an absolute path and lead to the binary program itself so that the 
# OpihiExarata software can call it. The hostname is also the TCS host, as 
# there are different hosts for the production TCS and the testing TCS.
# If a hostname is not provided (i.e. the entry is `null`) then it defaults 
# to the actual telescope hostname.
GUI_MANUAL_T3IO_PROGRAM_BINARY_PATH : "/usr/local/bin/t3io"
GUI_MANUAL_T3IO_TCS_HOSTNAME : "t1hilo"

# This is the directory for where the automatic image finder should look for 
# the new images. It works best if this is an absolute directory.
GUI_MANUAL_INITIAL_AUTOMATIC_IMAGE_FETCHING_DIRECTORY : ""

# If no target set name can be derived at all, for some odd reason, this is
# the default.
GUI_MANUAL_DEFAULT_TARGET_SET_NAME : "Pyukumuku"

# When OpihiExarata saves a FITS file after being processed, the default, 
# if a filename has not been provided, is to attach a small suffix to the 
# original filename to avoid filename conflicts.
GUI_MANUAL_DEFAULT_FITS_SAVING_SUFFIX : ".ox"

# When OpihiExarata saves the record of observations for a provided asteroid,
# it common to use their name plus a small suffix to the name of the asteroid 
# to mark that it was generated by OpihiExarata.
GUI_MANUAL_DEFAULT_MPC_RECORD_SAVING_SUFFIX : "_oxmpcr"


# This instructs the GUI to always prompt for the specifications of the target
# location using the target selector GUI. If False, images are loaded without 
# prompt for location, name, or other information. 
# (This inherently renders the asteroid part of the GUI inoperable.)
GUI_MANUAL_PROMPT_FOR_ASTEROID_INFORMATION : True


# This is the size of the marker which denotes the asteroid/target. The 
# desired color as well, in matplotlib form (we suggest hex).
GUI_MANUAL_IMAGE_PLOT_TARGET_MARKER_SIZE : 30
GUI_MANUAL_IMAGE_PLOT_TARGET_MARKER_COLOR : "#FF0000"

# If the ephemeris or propagation solutions were solved, then the timepoints
# which are used to define the futrue arc trace plot are defined here. It 
# uses the observational time as the origin and timesteps, in seconds, some
# number of times provided here. The desired colors as well, in matplotlib 
# form (we suggest hex).
GUI_MANUAL_FUTURE_TIME_PLOT_TIMESTEP_SECONDS : 60
GUI_MANUAL_FUTURE_TIME_PLOT_STEP_COUNT : 60
GUI_MANUAL_FUTURE_TIME_PLOT_EPHEMERIS_LINE_COLOR : "#78C850"
GUI_MANUAL_FUTURE_TIME_PLOT_PROPAGATE_LINE_COLOR : "#F85888"

# When the program is busy, it plots an image which tells the user such. If 
# is it not (temporarily) replacing the main FITS image and results, it is 
# overplotted instead with a transparancy as specified here, it should be 
# between 0 and 1. Both the replacement and transparency is controlled here. 
# Setting transparency to 0 and replacement to False is equivilant to removing 
# this alert feature. Transparency is 1 if replacement is True.
GUI_MANUAL_BUSY_ALERT_IMAGE_REPLACEMENT : True
GUI_MANUAL_BUSY_ALERT_IMAGE_TRANSPARENCY : 1

############################################################
##########     Opihi Target Selector Configuration
############################################################

# This is the size of the marker which denotes the asteroid/target. This 
# value is passed right to matplotlib.pyplot.imshow.
GUI_SELECTOR_IMAGE_PLOT_TARGET_MARKER_SIZE : 40

############################################################
##########     Opihi Automatic GUI Configuration
############################################################

# If True, then whenever an observation has been completed, if it has a 
# valid photometric solution, then the measurement is added to the database 
# as specified.
GUI_AUTOMATIC_DATABASE_SAVE_OBSERVATIONS : True

# The rate at which the database should be instructed to clean up its files 
# is provided by the percentage rate given. 
# This value should be between 0 and 1.
GUI_AUTOMATIC_DATABASE_CLEAN_FILE_RATE : 0.25

# This is the directory for where the automatic image finder should look for 
# the new images. It works best if this is an absolute directory.
GUI_AUTOMATIC_INITIAL_AUTOMATIC_IMAGE_FETCHING_DIRECTORY : ""

# When OpihiExarata saves a FITS file after being processed, the default, 
# if a filename has not been provided, is to attach a small suffix to the 
# original filename to avoid filename conflicts.
GUI_AUTOMATIC_DEFAULT_FITS_SAVING_SUFFIX : ".ox"

# This is the cooldown time of the automatic loop; it is the time delay (in
# seconds) that a loop will take in between checking for solves. This is done
# so that we are not constantly hammering the disk when looking for a new file.
GUI_AUTOMATIC_SOLVE_LOOP_COOLDOWN_DELAY_SECONDS : 0.42


############################################################
##########     Opihi Database Monitoring Configuration
############################################################

# This is the directory of the monitoring database.
MONITOR_DATABASE_DIRECTORY : "./exarata_zeropoint_database/"

# The path where the interactive html plot file should be saved to. We 
# suggest an absolute path if you are saving it to a webserver.
MONITOR_PLOT_HTML_FILENAME : "zero_point_plotly.html"

# The interactive plotly html file contains a lot of javascript to make it 
# interactive. This string sets how the javascript should be included. 
# In general, True for embedding it and "cdn" for dynamically downloading it 
# during page load.
# See the plotly documentation for more information: 
# https://plotly.com/python/interactive-html-export/
MONITOR_PLOT_PLOTLY_JAVASCRIPT_METHOD : True

# This parameter is the number of hours, from the current time, that zero point
# data from the database should be queried for plotting on the interactive 
# monitoring plot webpage. The zero point data that will be plotted will be 
# from X hours from the current time to the current time. (The current time is 
# the time as of the function call to make the plot.)
MONITOR_PLOT_QUERY_X_HOURS_AGO : 24

# This sets the limits of the y-axis of the zero point monitoring plot. It 
# must be a float number where the plot can scale to. If either are `null`, 
# then the plot itself will decide how best to scale itself.
MONITOR_PLOT_ZERO_POINT_AXIS_LOWER_LIMIT : null
MONITOR_PLOT_ZERO_POINT_AXIS_UPPER_LIMIT : null

# The interactive zero point figure seperates the plots by the filter name.
# The colors of each of the lines (representing the filter types) are described
# here. The color values provided here are must be CSS colors as they are 
# passed to Plotly (we suggest hex).
MONITOR_PLOT_FILTER_C_LINE_COLOR : "#FFFFFF"
MONITOR_PLOT_FILTER_G_LINE_COLOR : "#00FF00"
MONITOR_PLOT_FILTER_R_LINE_COLOR : "#FFA500"
MONITOR_PLOT_FILTER_I_LINE_COLOR : "#4B0082"
MONITOR_PLOT_FILTER_Z_LINE_COLOR : "#383838"
MONITOR_PLOT_FILTER_1_LINE_COLOR : "#00FFFF"
MONITOR_PLOT_FILTER_2_LINE_COLOR : "#FF00FF"
MONITOR_PLOT_FILTER_B_LINE_COLOR : "#FFFF00"

############################################################
##########     Opihi Preprocess Configuration
############################################################

# The bias frame of the image.
PREPROCESS_BIAS_FITS_FILENAME : ""

# The dark current of the image per pixel per second.
PREPROCESS_DARK_CURRENT_FITS_FILENAME : ""

# The mask fit filenames for all of the different filters. Where masked, the 
# value should be True in these arrays.
PREPROCESS_MASK_C_FITS_FILENAME : ""
PREPROCESS_MASK_G_FITS_FILENAME : ""
PREPROCESS_MASK_R_FITS_FILENAME : ""
PREPROCESS_MASK_I_FITS_FILENAME : ""
PREPROCESS_MASK_Z_FITS_FILENAME : ""
PREPROCESS_MASK_1_FITS_FILENAME : ""
PREPROCESS_MASK_2_FITS_FILENAME : ""
PREPROCESS_MASK_B_FITS_FILENAME : ""

# The flat fit filenames for all of the different filters.
PREPROCESS_FLAT_C_FITS_FILENAME : ""
PREPROCESS_FLAT_G_FITS_FILENAME : ""
PREPROCESS_FLAT_R_FITS_FILENAME : ""
PREPROCESS_FLAT_I_FITS_FILENAME : ""
PREPROCESS_FLAT_Z_FITS_FILENAME : ""
PREPROCESS_FLAT_1_FITS_FILENAME : ""
PREPROCESS_FLAT_2_FITS_FILENAME : ""
PREPROCESS_FLAT_B_FITS_FILENAME : ""

# The data which contains the linearity (average counts over time) function 
# of the array.
PREPROCESS_LINEARITY_FITS_FILENAME : ""

# When saving a FITS file with preprocessed raw data, the default is to have 
# a small suffix atteched to the original filename to avoid overwritting. 
# The suffix is defined here.
PREPROCESS_DEFAULT_SAVING_SUFFIX : ".pp"

############################################################
##########     Opihi Solution Configuration
############################################################


# The maximum amount of time in the past an observation is considered to be 
# valid for usage in determining asteroid propagations. Observations made 
# beyond this limit from the current observation is considered expired and will
# not be included in computing asteroid propagations. The unit of this value
# is in hours.
OPIHISOLUTION_PROPAGATION_OBSERVATION_EXPIRATION_HOURS : 24


############################################################
##########     Photometric Solution Configuration
############################################################

# The minimum number of observations per color filter needed to be included 
# in a photometric solution's database. This only is applied to photometric
# engines which support excluding data based on the number of colored filter 
# observations.
PHOTOMETRY_MINIMUM_FILTER_OBSERVATIONS : 3

# This is the maximum angular separation that two entries in the astrometric 
# table and the photometric table can be while still being considered the same 
# star/entry and thus correlated enough to be added to the intersection table.
# This value is in arcseconds.
PHOTOMETRY_MAXIMUM_INTERSECTION_SEPARATION : 5

# The star radius is used to define the photometric radius of a star for 
# zero-points; the unit is in arcseconds. A star's photometric profile is a 
# circle. (This is also used to define the mask for stars when calculating the
# total sky value.)
PHOTOMETRY_STAR_RADIUS_ARCSECOND : 3

# The science radius and the edge length mask the center and the edges of the 
# array respectively as they other wise contribute to a worse sky flux 
# correction value. Unlike the photometric radii, these are set by the 
# detector and so are pixel based and have units of pixels. (For faster 
# computational speed, the science mask is a box.)
PHOTOMETRY_SCIENCE_RADIUS_MASK_PIXELS : 500
PHOTOMETRY_EDGE_WIDTH_MASK_PIXELS : 100

# Photometry does not work well when using highly satuated stars or 
# under saturated stars in the calculation. As such, we... 
# ... limit the stars used to those only dimmer than some apparent magnitude;
# ... (others);
PHOTOMETRY_ZERO_POINT_BRIGHTEST_MAGNITUDE : 6


############################################################
##########     API and Engine Services Configuration
############################################################

# The maximum number of attempts that will be made when connecting to any API
# service.
API_CONNECTION_MAXIMUM_ATTEMPTS : 10

# The time, in seconds, that API connections should wait before trying again
# should it have failed.
API_CONNECTION_REQUEST_SLEEP_SECONDS : 5


# To force secure connections. If there are certificate issues, try and 
# disabling this. This only affects APIs which allow for insecure connections.
API_CONNECTION_ENABLE_SSL_CHECKS : True

###########
##### astrometry.net Nova or self-install API.
###########

# It takes time for the job queue to return results, this is the maximum 
# timeout time before the program fails (in seconds).
ASTROMETRYNET_WEBAPI_JOB_QUEUE_TIMEOUT : 600

# If the sending of fits files to the API service is resulting in errors, send
# png files instead. Also, as the scaling is automated, percentile cuts should
# be taken. The values here is the percent of the X highest or lowest pixels 
# that are cut; it must be 0 <= X <= 100.
ASTROMETRYNET_SEND_PNG_IMAGE_FILES : False
ASTROMETRYNET_SEND_PNG_LOWER_PERCENT_CUT : 1
ASTROMETRYNET_SEND_PNG_UPPER_PERCENT_CUT : 1

###########
##### PanSTARRS MAST API
###########

# Which data release should the MAST API use?
PANSTARRS_MAST_API_DATA_RELEASE_VERSION : 2

# The maximum number of rows to query from the MAST API, use this if the 
# downloading of the rows is too much.
PANSTARRS_MAST_API_MAXIMUM_DATA_ROWS : 10000

###########
##### OrbFit Compiled Binaries
###########

# The location where OrbFit was installed. These fields should be filled out 
# with information from the last step of the installation instructions when 
# installing OrbFit.
# Note that \ needs to be escaped. So the `\\wsl$` should be written 
# as `\\\\wsl$` for the Windows instructions.
ORBFIT_DIRECTORY : ""
ORBFIT_BINARY_EXECUTABLE_DIRECTORY : ""

# For some reason, the error calculations cannot be completed with this method.
# These values are the default and serve as a type of "maximum" error for the
# case of no error bars.
# Linear is a fraction of the actual value; angular is a fraction of a circle.
ORBFIT_MAXIMUM_LINEAR_ERROR : 0.05
ORBFIT_MAXIMUM_ANGULAR_ERROR : 0.05
